{% extends 'eco2work_app/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    <h4>Users list</h4>
</div>

<div>
    <table class="table table-sm">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.username }}</td>
            <td>{{ u.first_name }}</td>
            <td>{{ u.last_name }}</td>
            <td>{{ u.email }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div>
    <h4>Activities list</h4>
    <table class="table table-sm">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Distance [km]</th>
            <th>Vehicle</th>
            <th>User</th>
        </tr>
        {% for a in activity %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.date.isoformat }}</td>
            <td>{{ a.distance }}</td>
            <td>{{ a.vehicle }}</td>
            <td>{{ a.user }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}