{% extends 'eco2work_app/base.html' %}
{% block title %}Profile {{ user.username }}{% endblock %}
{% block content %}
<div>
    <h4>Profile {{ user.username }}</h4>
</div>

<div>
    <table class="table table-sm">
        <tr class="hidden">
            <th>ID</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div>

<div>
    <div class="row mb-2">
        <div class="col"><h4>Activities list</h4></div>
        <div class="col"><h4 class="col">Sum of your distance at {{ today.year }}-{{ today.month }} = {{ sum_distance }}</h4></div>
        <a href="/activity/" class="btn btn-outline-success">Edit activities</a>
    </div>

    <table class="table table-sm">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Distance [km]</th>
            <th>Vehicle</th>
            <th>Update time</th>
        </tr>
        {% for a in activity %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.date.isoformat }}</td>
            <td>{{ a.distance }}</td>
            <td>{{ a.vehicle }}</td>
            <td>{{ a.update_date }}</td>
        </tr>
        {% endfor %}
    </table>

    <h5>Testing form</h5>
    <table class="table table-sm">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Distance [km]</th>
            <th>Name</th>
            <th>Name</th>
        </tr>
        <form>
            {% csrf_token %}
            <div class="form-group">
                <tr>
                    <td>{{ form.name }}</td>
                    <td>{{ form.date }}</td>
                    <td>{{ form.distance }}</td>
                    <td>{{ form.vehicle }}</td>
                    <td></td>
                </tr>
            </div>
        </form>
    </table>
</div>
{% endblock %}